<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World with Buttons</title>
</head>
<body>
    <h1>Hello World</h1>
    
    <button onclick="window.location.href='/resource/Minutes.docx';">Download Word</button>
    <button onclick="window.location.href='/resource/Monthly budget tracker.xlsx';">Download Excel</button>
    <button onclick="window.location.href='/resource/Color band certificate of achievement.pptx';">Download PPT</button>

</body>
</html>
