<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World with Buttons</title>
</head>
<body>
    <h1>Hello World</h1>
    
    <button onclick="window.location.href='/resource/Minutes.docx';">Download Word</button>
    <button onclick="window.location.href='/resource/Monthly budget tracker.xlsx';">Download Excel</button>
    <button onclick="window.location.href='/resource/Color band certificate of achievement.pptx';">Download PPT</button>

    <button onclick="window.location.href='/resource/加密和伪装文档/加密文件.doc';">加密和伪装文档</button>
    <button onclick="window.location.href='/resource/设计文件溯源/溯源设计文件.dwg';">设计文件溯源</button>
    <a href="/resource/易误报数据/姓名易误报文件.txt" download>
        <button>易误报数据</button>
    </a>
    <button onclick="window.location.href='/resource/点滴式敏感数据/10.docm';">点滴式敏感数据</button>
    <button onclick="window.location.href='/resource/样本自学习/测试集/2016年4月份采购计划（报济南）.xlsx';">样本自学习</button>
    <button onclick="window.location.href='/resource/海外基础敏感数据/大量新加坡身份证号.docx';">海外基础敏感数据</button>
    <a href="/resource/基础敏感数据/客户资料.txt" download>
        <button>基础敏感数据</button>
    </a>
    <button onclick="window.location.href='/resource/敏感文件类型/源代码/main.go';">敏感文件类型</button>
    <a href="/resource/敏感图像文档/护照.png" download>
        <button>敏感图像文档</button>
    </a>
    <a href="/resource/敏感复杂文档/体检报告1.pdf" download>
        <button>敏感复杂文档</button>
    </a>
    <button onclick="window.location.href='/resource/嵌套文件/内嵌大量手机号码文档.xls';">嵌套文件</button>

</body>
</html>
